*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aleo', sans-serif;
}
body{
    margin: 10px;;
    height: 100%;
    background-color: black;
    background: url('img_01.jpg');
    background-size: cover;
}
.input_div{
    margin: 10px;
    padding: 20px;
    background-blend-mode: color-dodge;
    display: flex;
    justify-content: center;

}
h2{
    color: rgb(144, 255, 255);
    display: flex;
    justify-content: center;
}

.container{
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-blend-mode: lighten;
}
input[type=text]{
    padding: 5px;
    border: 1px solid black;
    width: 40%;
    
}
.item_input{
    padding: 5px;
    border: 1px solid black;
    width: 60%;
    height: 30px;
}
.item{
    padding: 10px;
    background-blend-mode: lighten;
    border: 2px solid burlywood;
    border-radius: 50px;
}
::placeholder{
    color: crimson;
    opacity: 1;
    padding-left: 5px;
}

:disabled{
    background-blend-mode: difference;
    color: white;
}
button{
    margin: 2px;
    padding: 10px;
    width: 80px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
   
}
.addBtn{
    background-image: linear-gradient(120deg, #fd9644,#fed330);
}
.rmBtn{
    background-image: linear-gradient(120deg, #eb4d4b,#ff7979);
}
.editBtn{
    background-image: linear-gradient(120deg, #778ca3,#4b6584);
}